/* Shared styles */

body {
	margin: 0;
	font-family: 'Lora', serif;
}

.btn-primary {
	border-radius: 8px;
	background: #E55473;
	color: #FFF;
	border: none;
	font-size: 20px;
	font-weight: 700;
	padding: 20px 40px;
}

p {
	color: #272727;
	font-size: 20px;
	line-height: 30px;
	margin: 32px 0;
}

h2 {
	color: #272727;
	font-size: 42px;
	font-weight: 700;
	margin: 0;
}


/* Header section */

header {
	display: flex;
	justify-content: space-around;
	background-color: #E554731A;
	padding: 50px 140px 0;
}
.header-text {
	width: 700px;
	margin-top: -70px;
}
header h1 {
	color: #272727;
	font-size: 62px;
	font-weight: 700;
	margin-top: 150px;
	margin-bottom: 0;
}
header img {
	display: block;
	width: 500px;
}


/* Main section */

main {
	text-align: center;
}

.featured {
	padding: 100px 0;
	max-width: 1366px;
	margin: 0 auto;
}
.featured h2 {
	font-size: 44px;
}
.featured p {
	margin-bottom: 50px;
}
.featured-img-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.featured img {
	display: block;
}
.featured-img-one {
	border-top-left-radius:  300px;
	border-top-right-radius: 300px;
	background-color: #477D1126;
	padding: 60px 50px 0;
}
.featured-img-two {
	border-top-left-radius:  300px;
	border-top-right-radius: 300px;
	background-color: #0597A026;
	padding: 100px 50px 0;
}
.featured-img-three {
	border-top-left-radius:  300px;
	border-top-right-radius: 300px;
	background-color: #A7216226;
	padding: 100px 50px 0;
}
.featured-img-three img {
}
.featured-text {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.featured-text h4 {
	color: #272727;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
	text-decoration-line: underline;
}

.hotdeal {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 150px;
	padding: 100px 0;
	background-color: #E554730D;
}
.discount {
	color: #E55473;
	font-size: 46px;
}

.gallery {
	padding: 125px 0;
}
.gallery img {
	width: 93%;
}
.gallery-container {
	display: flex;
	justify-content: center;
}
.gallery p {
	margin-bottom: 50px;
}

.newsletter {
	max-width: 1366px;
	margin: 50px auto 125px;
	background-image: url('./images/Rectangle 9.png');
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 120px;
	padding-bottom: 120px;
}
.newsletter p {
	margin: 15px 0 45px;
}
input[type="email"] {
	width: 700px;
	padding: 24px 40px;
	border: none;
	border-radius: 8px;
	background: #FFF;
	font-size: 16px;
	color: #272727;
	box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
input[type="submit"] {
	box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
form {
	display: flex;
	justify-content: center;
	gap: 16px;
}

footer {
	padding: 125px 0;
	text-align: center;
	background-color: #111010;
}
footer p {
	color: #FFF;
}
.logo1 {
	color: #E55473;
}
.logo2 {
	color: #FFF;
}
.copyright {
	color: rgba(255, 255, 255, 0.40);
	font-size: 16px;
}

.owner-container {
	display: flex;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	max-width: 1366px;
	margin-bottom: 130px;
	gap: 100px;
}
.owner img {
	border-radius: 500px;
	width: 300px;
	height: 300px;
	margin-bottom: 20px;
	border: 10px solid pink;
}
.owner h3 {
	margin-top: 10px;
}
.owner-greeting {
	margin-bottom: 80px;
}
.owner-container h2 {
	font-size: 34px;
}
