/* Shared styles */

body {
	margin: 0;
	font-family: 'Lora', serif;
}

.btn-primary {
	border-radius: 8px;
	background: #E55473;
	color: #FFF;
	border: none;
	font-size: 20px;
	font-weight: 700;
	padding: 20px 40px;
}

p {
	color: #272727;
	font-size: 20px;
	line-height: 30px;
	margin: 32px 0;
}


/* Header section */

header {
	display: flex;
	justify-content: space-around;
	background-color: #E554731A;
	padding: 50px 140px 0;
}
header h1 {
	color: #272727;
	font-size: 76px;
	font-weight: 700;
	margin-top: 150px;
	margin-bottom: 0;
}
header img {
	display: block;
}


/* Main section */

main {
	text-align: center;
}

.featured {
	padding: 100px 0;
	max-width: 1440px;
	margin: 0 auto;
}
.featured h2 {
	color: #272727;
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 0;

}
.featured p {
	margin-bottom: 50px;
}
.featured-img-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.featured img {
	display: block;
}
.featured-img-one {
	border-top-left-radius:  300px;
	border-top-right-radius: 300px;
	background-color: #477D1126;
	padding: 60px 75px 0;
}
.featured-img-two {
	border-top-left-radius:  300px;
	border-top-right-radius: 300px;
	background-color: #0597A026;
	padding: 100px 50px 0;
}
.featured-img-three {
	border-top-left-radius:  300px;
	border-top-right-radius: 300px;
	background-color: #A7216226;
	padding: 100px 75px 0;
}
.featured-img-three img {
}
.featured-text {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.featured-text h4 {
	color: #272727;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
	text-decoration-line: underline;
}

.hotdeal {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 150px;
	padding: 100px 0;
	background-color: #E554730D;
}
.hotdeal h2 {
	color: #272727;
	font-size: 40px;
	font-weight: 700;
}
.hotdeal p {
	color: #272727;
	font-size: 18px;
	line-height: 30px;
}
.discount {
	color: #E55473;
	font-size: 46px;
}
